.test {
  height: 100%;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.test2 {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
html {
  height: 100%;
}
img {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
input,
textarea,
select {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  resize: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
}
a {
  color: #323232;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul,
li {
  list-style: none;
}
dfn,
em,
i {
  font-style: normal;
}
body {
  height: 100%;
  background-color: #f0f0f0;
  font-size: 14px;
  line-height: 1;
  font-family: "Microsoft YaHei";
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  color: #323232;
}
.g-body {
  height: 100%;
  position: relative;
}
.border-list {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
.border-list-item {
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.border-list-item:last-child {
  border-bottom-width: 0;
}
.border-list-item .icon-chevron-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 15px;
}
.btn-green {
  display: inline-block;
  text-align: center;
  background: #00CC00;
  color: #fff;
}
.btn-red {
  display: inline-block;
  text-align: center;
  background: #F03C3C;
  color: #fff;
}
.btn-default {
  display: inline-block;
  text-align: center;
  height: 45px;
  line-height: 45px;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  color: #505050;
}
.icon-correct {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-size: auto 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/icon-correct.png);
}
.icon-chevron-right {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-size: auto 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/icon-chevron-right.png);
  background-size: auto 14px;
}
.icon-position {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-size: auto 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/icon-position.png);
}
.g-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.g-pop {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: fixed;
  left: 40px;
  right: 40px;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
}
.g-pop .g-pop-head {
  height: 45px;
  background: #f5f5f5;
}
.g-pop .g-pop-head .center {
  line-height: 45px;
  text-align: center;
  font-size: 17px;
  color: #505050;
  font-weight: bold;
}
.g-pop .g-pop-body {
  -webkit-box-sizing: borer-box;
  -moz-box-sizing: borer-box;
  box-sizing: borer-box;
  max-height: 300px;
  padding: 22px 20px;
  overflow-y: scroll;
  font-size: 15px;
}
.g-pop .g-pop-foot {
  border-top: 1px solid #dcdcdc;
  height: 45px;
}
.g-pop .g-pop-foot .btn-box {
  position: relative;
  font-size: 0;
}
.g-pop .g-pop-foot .btn-box:after {
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  position: absolute;
  left: 50%;
  top: 0;
  background: #dcdcdc;
}
.g-pop .g-pop-foot .btn-box .btn {
  display: inline-block;
  width: 50%;
  line-height: 45px;
  font-size: 17px;
  color: #505050;
  text-align: center;
}
.g-pop .g-pop-foot .btn-box .text-red {
  color: #F03C3C;
}
.g-alert {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: fixed;
  left: 75px;
  right: 75px;
  padding: 28px 25px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  overflow: hidden;
  line-height: 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.booking-head-tip {
  border-bottom: 1px solid #dcdcdc;
  height: 40px;
  line-height: 40px;
  z-index: 100;
  background: #FFF7D6;
  text-align: center;
}
.booking-head-tip .time {
  color: #F03C3C;
}
.booking-info-title {
  padding: 7px 15px;
  color: #969696;
  font-size: 14px;
}
.booking-info-list {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
.booking-info-list .booking-info-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  background-color: #fff;
  padding: 0 15px;
}
.booking-info-list .booking-info-list-item:last-child {
  border-bottom-width: 0;
}
.booking-info-list .booking-info-list-item .icon-chevron-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 15px;
}
.booking-info-list .booking-info-list-item:last-child {
  border-bottom-width: 0;
}
.booking-info-list .booking-info-list-item .icon-chevron-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 15px;
}
.booking-info-list .booking-info-list-item .item-name {
  width: 40%;
  padding: 13px 0;
  font-size: 15px;
}
.booking-info-list .booking-info-list-item .item-content {
  float: right;
  width: 60%;
  padding: 11px 0;
  text-align: right;
  font-size: 16px;
}
.booking-info-list .booking-info-list-item .item-content .price {
  color: #F03C3C;
}
.booking-dot-list {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 0;
  background: #fff;
}
.booking-dot-list .dot-item {
  position: relative;
  padding: 0 15px;
  color: #646464;
}
.booking-dot-list .dot-item:before {
  content: '·';
  display: inline-block;
  vertical-align: -2px;
  color: #969696;
  font-size: 24px;
}
.booking-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.booking-foot .btn-green {
  width: 100%;
  height: 45px;
  line-height: 45px;
  vertical-align: top;
  font-size: 16px;
}
.booking-foot .btn-disable {
  background: #c8c8c8;
}
.order-info-head {
  background: #fff;
  margin-bottom: 10px;
}
.order-info-head .status-info {
  padding: 15px;
  color: #323232;
  font-size: 16px;
}
.order-info-head .icon-correct {
  margin-right: 7px;
}
.order-info .border-list {
  margin-bottom: 10px;
}
.order-info .border-list .order-info-name {
  padding: 15px;
}
.order-info .name {
  color: #646464;
  font-size: 17px;
}
.order-info-detail {
  position: relative;
  padding-right: 100px;
}
.order-info-detail .side-info {
  float: right;
  width: 100px;
  margin-right: -100px;
  padding: 14px 15px 0 0;
  text-align: right;
}
.order-info-detail .side-info .number {
  margin-bottom: 4px;
  color: #F03C3C;
  font-size: 23px;
}
.order-info-detail .side-info .info-text {
  font-size: 12px;
}
.order-info-list {
  padding: 5px 15px;
  font-size: 0;
}
.order-info-list .text-gray {
  margin-right: 10px;
  color: #878787;
}
.order-info-list .item-label {
  display: inline-block;
}
.order-info-list .item-content {
  display: inline-block;
}
.order-info-list span {
  font-size: 14px;
}
.order-info-item {
  padding: 5px 0;
  line-height: 1;
}
.order-info-address .border-list-item {
  position: relative;
  padding: 0 40px;
}
.order-info-address .icon-position {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 13px;
}
.order-info-address .address-wrap {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}
.order-info-address .address-wrap .cotent {
  display: inline-block;
  vertical-align: middle;
}
.order-info-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #dcdcdc;
  background: #fafafa;
  padding: 0 5px;
}
.order-info-foot:before,
.order-info-foot:after {
  content: " ";
  display: table;
}
.order-info-foot:after {
  clear: both;
}
.order-info-foot .item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 9px 5px;
}
.order-info-foot .btn-default {
  width: 100%;
  font-size: 15px;
}
.list-head-tip {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #dcdcdc;
  z-index: 100;
}
.list-head-tip .reminder {
  padding: 9px 15px;
  background: #FFF7D6;
  font-size: 12px;
  color: #bea064;
}
.queue-info {
  border-top: 1px solid #dcdcdc;
  line-height: 1;
  background: #fff;
}
.queue-info:before,
.queue-info:after {
  content: " ";
  display: table;
}
.queue-info:after {
  clear: both;
}
.queue-info .info-item {
  float: left;
  width: 33.33%;
  text-align: center;
}
.queue-info .info-title {
  line-height: 1;
  padding: 17px 0 10px 0;
}
.queue-info .info-title span {
  display: inline-block;
  width: 70px;
  height: 20px;
  line-height: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  text-align: center;
  color: #646464;
  font-size: 12px;
}
.queue-info .info-content {
  padding-bottom: 15px;
  font-size: 16px;
}
.number-list {
  padding-top: 120px;
}
.number-list:before,
.number-list:after {
  content: " ";
  display: table;
}
.number-list:after {
  clear: both;
}
.number-list .item {
  position: relative;
  background: #fff;
  margin-bottom: 10px;
}
.number-list .number {
  float: left;
  width: 95px;
  height: 95px;
  line-height: 95px;
  background: url(../img/bg-number.png) no-repeat;
  background-size: 95px auto;
  text-align: center;
  color: #fff;
  font-size: 21px;
}
.number-list .info {
  height: 95px;
  padding: 17px 100px 5px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.number-list .info-detail-item {
  margin-bottom: 9px;
  color: #646464;
}
.number-list .btn-red {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 70px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  right: 15px;
  font-size: 15px;
}
.list-no-product {
  margin-top: 175px;
  padding-top: 85px;
  background: url(../img/bg-no-product.png) no-repeat;
  background-size: 70px auto;
  background-position: center 0;
  text-align: center;
  color: #969696;
}
.error-info-box {
  margin-top: 95px;
  text-align: center;
}
.error-info-box .icon-alert {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: url(../img/icon-alert.png) no-repeat;
  background-size: 55px auto;
}
.error-info-box .error-info {
  padding: 22px 45px 45px 45px;
}
.error-info-box .error-info .error-info-big {
  font-size: 22px;
}
.error-info-box .error-info .error-info-detail {
  margin-top: 10px;
  font-size: 15px;
  color: #646464;
}
.error-info-box .error-info .error-info-tip {
  margin-top: 10px;
  color: #969696;
}
.error-btn-box {
  padding: 0 15px;
}
.error-btn-box .btn-red,
.error-btn-box .btn-default {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 17px;
}
